<!DOCTYPE html>

<title>Edit ContentType</title>

{% block body %}
    <h1>Edit ContentType</h1>

    {{ include('configuration/content_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_configuration_content_type_index') }}">back to list</a>

    {{ include('configuration/content_type/_delete_form.html.twig') }}
{% endblock %}
